{:service-name "kixi.heimdall"
 :dynamodb #profile {:development {:prefix "dev"
                                   :db {:endpoint #or [#env DYNAMODB_ENDPOINT "http://localhost:8000"]}}
                     :dev-docker {:prefix "dev"
                                  :db {:endpoint #or [#env DYNAMODB_ENDPOINT "http://dynamodb:8000"]}}
                     :test {:prefix "test"
                            :db {:endpoint #or [#env DYNAMODB_ENDPOINT "http://localhost:8000"]}}
                     :jenkins {:prefix "jenkins"
                               :db {:endpoint #or [#env DYNAMODB_ENDPOINT "http://dynamodb.eu-central-1.amazonaws.com"]}}
                     :staging {:prefix "staging"
                               :db {:endpoint #or [#env DYNAMODB_ENDPOINT "http://dynamodb.eu-central-1.amazonaws.com"]}}
                     :production {:prefix "prod"
                                  :db {:endpoint #or [#env DYNAMODB_ENDPOINT "http://dynamodb.eu-central-1.amazonaws.com"]}}}
 :jetty-server {:port #profile {:development 3002
                                :test 3003
                                :dev-docker 3002
                                :jenkins 3003
                                :staging 3000
                                :production 3000}}
 :communications {:kinesis #profile {:development {:profile "dev"
                                                   :kinesis-endpoint "http://localhost:4567"
                                                   :dynamodb-endpoint "http://localhost:8000"
                                                   :region "eu-central-1"
                                                   :stream-names {:command "heimdall-dev-command"
                                                                  :event "heimdall-dev-event"}}
                                     :dev-docker {:profile "dev"
                                                  :kinesis-endpoint "http://localhost:4567"
                                                  :dynamodb-endpoint "http://localhost:8000"
                                                  :region "eu-central-1"
                                                  :stream-names {:command "heimdall-dev-command"
                                                                 :event "heimdall-dev-event"}}
                                     :test {:profile "test"
                                            :kinesis-endpoint "http://localhost:4567"
                                            :dynamodb-endpoint "http://localhost:8000"
                                            :region "eu-central-1"
                                            :stream-names {:command "heimdall-test-command"
                                                           :event "heimdall-test-event"}}
                                     :jenkins {:profile "jenkins"
                                               :kinesis-endpoint "http://kinesis.eu-central-1.amazonaws.com"
                                               :dynamodb-endpoint "http://dynamodb.eu-central-1.amazonaws.com"
                                               :region "eu-central-1"
                                               :stream-names {:command "heimdall-test-command"
                                                              :event "heimdall-test-event"}}
                                     :staging {:profile "staging"
                                               :kinesis-endpoint "http://kinesis.eu-central-1.amazonaws.com"
                                               :dynamodb-endpoint "http://dynamodb.eu-central-1.amazonaws.com"
                                               :region "eu-central-1"
                                               :stream-names {:command "heimdall-staging-command"
                                                              :event "heimdall-staging-event"}}
                                     :production {:profile "production"
                                                  :kinesis-endpoint "http://kinesis.eu-central-1.amazonaws.com"
                                                  :dynamodb-endpoint "http://dynamodb.eu-central-1.amazonaws.com"
                                                  :region "eu-central-1"
                                                  :stream-names {:command "heimdall-prod-command"
                                                                 :event "heimdall-prod-event"}}}}
 :auth-conf {:privkey #profile {:development "auth_privkey.pem"
                                :dev-docker "/root/prod_privkey.pem"
                                :test "test_privkey.pem"
                                :jenkins "test_privkey.pem"
                                :staging "/root/prod_privkey.pem"
                                :production "/root/prod_privkey.pem"}
             :pubkey #profile {:development "auth_pubkey.pem"
                               :dev-docker "/root/prod_pubkey.pem"
                               :test "test_pubkey.pem"
                               :jenkins "test_pubkey.pem"
                               :staging "/root/prod_pubkey.pem"
                               :production "/root/prod_pubkey.pem"}
             :secrets #profile {:development #include #join [#env HOME "/.secrets.edn"]
                                :dev-docker #include "/root/.secrets.edn"
                                :staging #include "/root/.secrets.edn"
                                :production #include "/root/.secrets.edn"}
             :passphrase #profile {:development ^:ref [:auth-conf :secrets :dev-passphrase]
                                   :dev-docker ^:ref [:auth-conf :secrets :test-passphrase]
                                   :test "test"
                                   :jenkins "test"
                                   :staging ^:ref [:auth-conf :secrets :prod-passphrase]
                                   :production ^:ref [:auth-conf :secrets :prod-passphrase]}}

 :metrics {:json-reporter {:seconds #profile {:production 60
                                              :staging 60
                                              :development 600
                                              :dev-docker 600
                                              :test 600
                                              :jenkins 30}}}
 :logging {:level #profile {:staging  :warn
                            :production  :warn
                            :jenkins     :info
                            :test        :info
                            :development :info
                            :dev-docker  :info} ; e/o #{:trace :debug :info :warn :error :fatal :report}
           ;; Control log filtering by namespaces/patterns. Useful for turning off
           ;; logging in noisy libraries, etc.:
           ;;:ns-whitelist  ["whiner.*"] #_["my-app.foo-ns"]
           :ns-blacklist ["org.eclipse.jetty"]}}
